<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Avisos do Salão</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <h2>Avisos</h2>

    <iframe src="https://feed.mikle.com/widget/v2/139324/?preloader-text=Loading..." height="500px" width="100%" class="fw-iframe" scrolling="no" frameborder="0"></iframe>




    <!--<pre>
Faz algma coisa no aplicativo.

[x] Usuário logado
[x] Usuário não logado
[ ] Menu lateral
[x] Menu inferior
[x] Seta de retorno
Local: 'app/app/teste03/teste03.page'
Rota: /app/teste03
Roteamento: app/tabs/tabs-routing.module.ts
    </pre>-->

  </div>

</ion-content>