<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Conheça o Salão</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <h2>Conheça o Salão</h2>

    <pre>
      Mostrará um pouco do salão

<!--[ ] Usuário logado
[x] Usuário não logado
[ ] Menu lateral
[x] Menu inferior
[x] Seta de retorno

Local: 'app/app/teste02/teste02.page'
Rota: /app/teste02
Roteamento: app/tabs/tabs-routing.module.ts -->

    </pre>

  </div>

</ion-content>