<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Conheça o Salão</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <h2>Promoções</h2>
    
    <div class="iflist">      
        <img class="fly" src="https://cdn.discordapp.com/attachments/643876405641478199/778313703841071144/flyer1.jpg" alt="">

        <img class="fly" src=" https://cdn.discordapp.com/attachments/643876405641478199/778313708766101504/flyer2.jpg
        " alt="">
    </div>

    <h2>Nossos Trabalhos</h2>
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title class="title">Escova Progressiva</ion-card-title>
        <img src="https://image.freepik.com/fotos-gratis/cabelo-estilista-anonimo-do-cabelo-do-estilista_23-2147769830.jpg" alt="">
  
        <ion-card-title class="title">Modelagem de Barba</ion-card-title>
        <img src="https://image.freepik.com/fotos-gratis/mulher-cortando-close-up-de-barba-de-um-cliente_23-2148353435.jpg" alt="">

        <ion-card-title class="title">Cortes de cabelo Masculino</ion-card-title>
        <img src="https://image.freepik.com/fotos-gratis/vista-traseira-mulher-cortando-o-cabelo-do-seu-cliente_23-2148353440.jpg" alt="">

        <ion-card-title class="title">Manicure</ion-card-title>
        <img src="https://image.freepik.com/fotos-gratis/close-up-de-esteticista-quadro-um-mulher-unhas-com-um-escova-em-um-salao-unha_1139-1703.jpg" alt="">
      </ion-card-header>
    
      <ion-card-content>
        Algumas imagens dos nossos serviços dentro do salão Karasuno, venham e experimentem tambémos nossos serviços.
      </ion-card-content>
    </ion-card>

<!--[ ] Usuário logado
[x] Usuário não logado
[ ] Menu lateral
[x] Menu inferior
[x] Seta de retorno

Local: 'app/app/teste02/teste02.page'
Rota: /app/teste02
Roteamento: app/tabs/tabs-routing.module.ts -->

   

  </div>

</ion-content>