<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Configuração</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <h2>Configurações</h2>

    <!--<pre>
Configurações do aplicativo.

[x] Usuário logado
[ ] Usuário não logado
[x] Menu lateral
[x] Menu inferior
[ ] Seta de retorno
Local: 'app/pages/config/config.page'
Rota: /app/config
Roteamento: app/tabs/tabs-routing.module.ts
    </pre>-->

  </div>

</ion-content>