<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="teste01">
      <ion-icon name="cut"></ion-icon>
      <ion-label>Serviços</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="teste02">
      <ion-icon name="eye"></ion-icon>
      <ion-label>Descubra</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="teste03">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Avisos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="config">
      <ion-icon name="build-outline"></ion-icon>
      <ion-label>Config</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>