
.logo{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: white;
}

.text{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}