<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Inicio</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <!-- Se logado, cumprimenta usuário pelo nome. -->
    <div class="text">
      <h2>Olá<span *ngIf="userData"> {{ userData.displayName }}</span>!</h2>
      <p>Inicio do App</p>
    </div>
    <img class="logo" src="https://cdn.discordapp.com/attachments/643876405641478199/782824992240828416/Logo_Trab_2Artboard_1.png" alt="">
    

    <!-- Somente se não logado -->
    <div class="text" *ngIf="!userData">
      <p>Logue-se para acessar todos os recursos do aplicativo:</p>
      <p class="ion-text-center">
        <ion-button routerLink="/usuario/entrar">
          <ion-icon slot="start"  name="log-in"></ion-icon>
          Entrar
        </ion-button>
      </p>
    </div>

    <!--<pre>
Página inicial do aplicativo.

[x] Usuário logado
[x] Usuário não logado
[x] Menu lateral
[x] Menu inferior
[ ] Seta de retorno
Local: 'app/pages/inicio/inicio.page'
Rota: /app/inicio
Roteamento: app/tabs/tabs-routing.module.ts
    </pre>-->

  </div>

</ion-content>