<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="/" routerLink="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Editar Perfil</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="ion-padding">

    <!-- Inclui seletor do componente do formulário de perfil -->
    <app-profile></app-profile>
    
    <!--<pre>

Ver o perfil para a o usuário logado.

[x] Usuário logado
[ ] Usuário não logado
[ ] Menu lateral
[ ] Menu inferior
[x] Seta de retorno
Local: 'app/usuario/editar/editar.page'
Rota: /usuario/editar
Roteamento: app/app-routing.module.ts

    </pre> -->

  </div>

</ion-content>